common --enable_bzlmod
common --lockfile_mode=update

build --action_env=BAZEL_CXXOPTS="-std=c++17"

# for buildbuddy
build:linux --workspace_status_command=$(pwd)/workspace_status.sh

# Uncomment the following options to enable this project on the Windows.
#
# startup --windows_enable_symlinks
# common --enable_platform_specific_config
# # Enable runfiles on Windows (symlink must be enabled)
# build:windows --enable_runfiles

try-import .local.bazelrc

# Add `.bazel.remote` when the project can be built remotely.
# The main purpose of this file is to enable remote caching and execution on BuildBuddy.
try-import .remote.bazelrc
